@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Adding the Grotesk font */
@import url('https://fonts.googleapis.com/css2?family=Grotesk:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Grotesk', Arial, Helvetica, sans-serif; /* Use Grotesk here */
  font-family: 'Poppins', sans-serif;
}
